<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sun.training"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature 
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Action Bar -->
        <activity
            android:name=".actionbar.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomActionBarThemeBG" >
        </activity>
        <activity
            android:name=".actionbar.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.sun.training.actionbar.MainActivity"
            android:theme="@style/CustomActionBarThemeTT" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sun.training.actionbar.MainActivity" />
        </activity>
        <activity
            android:name=".actionbar.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName="com.sun.training.actionbar.MainActivity"
            android:theme="@style/CustomActionBarThemeDetail" >
        </activity>
        <activity
            android:name=".actionbar.OverlayActionBarActivity"
            android:label="@string/title_activity_overlay_action_bar"
            android:parentActivityName="com.sun.training.actionbar.MainActivity"
            android:theme="@style/CustomActionBarThemeOverlayActionBar" >
        </activity>

        <!-- Fragment -->
        <activity android:name=".fragment.NewsArticlesActivity" >
        </activity>

        <!-- NFC -->
        <activity android:name=".nfc.NfcActivity" >
        </activity>
        <activity
            android:name="com.sun.training.nfc.ViewActivity"
            android:label="Android Beam Viewer" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Saving Data -->
        <activity android:name="com.sun.training.savingdata.TestSavingDataActivity" >
        </activity>

        <!-- Interacting with other Apps -->
        <activity android:name=".interacting_between_apps.StartOtherAppActivity" >
        </activity>
        <activity android:name=".interacting_between_apps.GetResultActivity" >
        </activity>
        <activity android:name=".interacting_between_apps.ShareActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <!-- If any two pairs of action and data are mutually exclusive in their 
				behavior, you should create separate intent filters to specify which actions
				are acceptable when paired with which data types. -->
            <!-- filter for sending text; accepts SENDTO action with sms URI schemes -->
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
            <!-- filter for sending text or image; accepts SEND action and text or image data -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        
        <!-- Managing Audio Playback -->
        <receiver android:name=".audio_playback.RemoteControlReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <activity android:name=".audio_playback.ManageAudioPlaybackActivity" >
        </activity>
        
        <!-- Capturing Photos -->
        <activity android:name="com.sun.training.capture_photo.TakePhotosActivity" >
        </activity>
        <activity android:name="com.sun.training.capture_photo.ControllCameraActivity">
        </activity>
        
        <!-- Print Content -->
        <activity android:name="com.sun.training.print_content.PrintContentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Displaying Bitmaps Efficiently -->
        <activity android:name="com.sun.training.display_bitmap.DisplayBitmapActivity" >
        </activity>
    </application>

</manifest>